{% extends "layoutAdm.njk" %}

{%block content %}

  <form class="container" action="/admin" method="POST">
    <div class="main-title">
      <h2>Criando Receita</h2>
      <button type="submit">Salvar receita</button>
    </div>

    <div class="field">
      <h3>Imagem da receita</h3>
      <input type="text" name="recipe_img" placeholder="http://">
    </div>

    <div class="field">
      <h3>Ingredientes</h3>
      <input type="text" name="ingredients">
      <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>
    </div>

    <div class="field">
      <h3>Modo de preparo</h3>
      <input type="text" name="preparation">
      <button type="button" class="add-step">Adicionar novo passo</button>
    </div>

    <div class="field">
      <h3>Informações adicionais</h3>
      <input type="text" name="info">
    </div>

  </form>

{% endblock %}