{% extends "layoutAdm.njk" %}

{%block content %}
  <section class="container">

    <div class="main-title">
      <h2>Editar Receita</h2>

      <form action="/admin/recipes?_method=DELETE" method="POST" id="delete-button">
        <button type="submit">Deletar</button>
        <input type="hidden" name="id" value="{{recipe.id}}">
      </form>

      <form action="/admin/recipes?_method=PUT" method="POST" id="save-button">
        <button type="submit">Salvar receita</button>
        <input type="hidden" name="id" value="{{recipe.id}}">

      </div>

      <div class="field">
        <h3>Imagem da receita</h3>
        <input type="text" name="image_url" placeholder="http://" value="{{recipe.image_url}}">
      </div>

      <div class="field" id="ingredients">
        <h3>Ingredientes</h3>
        <div class="ingredient">
          {% for ingredient in recipe.ingredients %}
            <input type="text" name="ingredients[]" value="{{ingredient}}" id="inputIngredient">
          {% endfor %}
        </div>
      </div>
      <button type="button" id="add-ingredient">Adicionar novo ingrediente</button>

      <div class="field preparation">
        <h3>Modo de preparo</h3>
        <div class="step">
          {% for step in recipe.preparation %}
            <input type="text" name="preparation[]" id="inputStep" value="{{step}}">
          {% endfor %}
        </div>
        <button type="button" id="add-step">Adicionar novo passo</button>
      </div>

      <div class="field">
        <h3>Informações adicionais</h3>
        <textarea name="info" rows="10">{{recipe.info}}</textarea>

      </div>
    </form>

  </section>

{% endblock %}