<div class="main-title">
  <h2>Criando Receita</h2>
  <button type="submit">Salvar receita</button>
</div>

<div class="field">
  <h3>Imagem da receita</h3>
  <input type="text" name="image_url" placeholder="http://">
</div>

<div class="field" id="ingredients">
  <h3>Ingredientes</h3>
  <div class="ingredient">
    <input type="text" name="ingredients[]" id="inputIngredient">
  </div>
</div>
<button type="button" id="add-ingredient">Adicionar novo ingrediente</button>

<div class="field" id="preparation">
  <h3>Modo de preparo</h3>
  <div class="steps">
    <input type="text" name="preparation[]" id="inputStep">
  </div>
</div>
<button type="button" id="add-step">Adicionar novo passo</button>

<div class="field">
  <h3>Informações adicionais</h3>
  <textarea name="info" rows="10"></textarea>
</div>