<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="styles.css">
  <title>{{recipe.title}}</title>
</head>

<body>
  <header>

    <a href="/"><img src="./assets/logo.png" alt="Logo da Foodfy"></a>
    <div class="links">
      <a href="/about">Sobre</a>
      <a href="/recipes">Receitas</a>
    </div>

  </header>

  <section class="container">

    <div class="single__recipe" id="{{recipes.title}}">
      <img src={{recipe.image}} alt="Triplo bacon burger">
      <h2 class="receita__nome">{{recipe.title}}</h2>
      <h2 class="receita__por">{{recipe.author}}</h2>



      <div class="title__ingredients pack">
        <h2 class="title">Ingredientes</h2>
        <h2 class="btn ingredients" onclick="showInformation()" id="showIngrediends">Mostrar</h2>
      </div>

      <div class="block__ingredients block">
        <ul>
          {% for recipeIngredients in recipe.ingredients %}
          <li>{{recipeIngredients}}</li>
          {%endfor%}
        </ul>
      </div>
      <div class="title__preparation pack">
        <h2 class="title">Modo de preparo</h1>
          <h2 class="btn preparation">Mostrar</h2>
      </div>
      <div class="block preparo">

        <ul>
          {% for recipePreparation in recipe.preparation %}
          <li>{{recipePreparation}}</li>
          {%endfor%}
        </ul>


      </div>
      <div class="title__information pack">
        <h2 class="title">Informações adicionais</h1>
          <h2 class="btn information">Mostrar</h2>
      </div>
      <div class="block info__adicionais">

        <p>{{recipe.information}}</p>

      </div>

    </div>


  </section>


  <footer>
    <div class="footer__text">
      <p>Todos os direitos reservados, receitas Foodfy.</p>
    </div>
  </footer>



  <script src="/scripts.js"></script>


</body>

</html>