{% extends "layoutAdm.njk" %}

{%block content %}
  <section class="container">

    <div class="main-title">
      <h2>Editar Receita</h2>

      <form action="/admin/recipes?_method=DELETE" method="POST" id="delete-button">
        <button type="submit">Deletar</button>
        <input type="hidden" name="id" value="{{recipe.id}}">
      </form>

      <form action="/admin/recipes?_method=PUT" method="POST" id="save-button">
        <button type="submit">Salvar receita</button>
        <input type="hidden" name="id" value="{{recipe.id}}">
      </div>
      <div class="field">
        <h3>Imagem da receita</h3>
        <input type="text" name="image" placeholder="http://" value="{{recipe.image}}">
      </div>

      <div class="field">
        <h3>Chef</h3>
        <select name="chef_id">
          {% for chef in chefOptions %}
            <option value="{{chef.id}}" {% if recipe.chef_id == chef.id %} selected="selected" {% endif %}>{{chef.name}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="field">
        <h3>Título da receita</h3>
        <input type="text" name="title" value="{{recipe.title}}">
      </div>

      <div class="field" id="ingredients">
        <h3>Ingredientes</h3>
        <div class="ingredient">
          {% for ingredient in recipe.ingredients %}
            <input type="text" name="ingredients[]" id="inputIngredient" value="{{ingredient}}">
          {% endfor %}
        </div>
      </div>
      <button type="button" id="add-ingredient">Adicionar novo ingrediente</button>

      <div class="field" id="preparation">
        <h3>Modo de preparo</h3>
        <div class="steps">
        {% for step in recipe.preparation %}
          <input type="text" name="preparation[]" id="inputStep" value="{{step}}">
        {% endfor %}
        </div>
      </div>
      <button type="button" id="add-step">Adicionar novo passo</button>

      <div class="field">
        <h3>Informações adicionais</h3>
        <textarea name="information" rows="10">{{recipe.information}}</textarea>
      </div>
    </form>

  </section>

{% endblock %}