{% extends "layoutAdm.njk" %}

{%block content %}
  <section class="container">

    <div class="manage-recipes-title">
      <h2>Gerenciar receitas</h2>
    </div>

    <div class="recipe-list">
      {% for recipe in recipes %}

        <div class="recipe-box">

          <div class="recipe-img">
            <img src="{{recipe.image}}" alt="Triplo bacon burger">
          </div>
          <div class="recipe-info">
            <h2>{{recipe.title}}</h2>
            <h2>{{recipe.chef_id}}</h2>
            <a href="/admin/recipes/{{recipe.id}}">
              <button>Visualizar</button>
            </a>
          </div>
        </div>

      {% endfor %}
    </div>
  </section>

{% endblock %}