@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

*{
    margin: 0;
    border: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}
/* === CENTRALIZANDO TODOS OS ELEMENTOS === */
.container{   
    margin: 0 230px;    
}

header{
  margin: 0 230px;
  margin-bottom: 50px;
  margin-top: 38px;
  display: grid;
  grid-template-columns: auto 1fr;
}

header img{
  position: relative;

}

.links{
    margin-left: 120px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 30px
}

.links a{
  text-decoration: none;
  font-size: 16px;
  color: #111111;
}

.links :hover{
  font-weight: bold;
}


/* === CONTAINER COM AS MELHORES RECEITAS === */

.principal{
    background: #FBDFDB;
    height: 366px;
    border-radius: 30px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    margin-top: 30px;
}

.principal__content{
  width: 316px;
  margin: auto 60px;
}

.principal__content h1{
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
}

.principal__content h2{
    font-weight: normal;
    opacity: 0.7;
    font-size: 18px;
    line-height: 28px;
}

.principal img{
  padding: 66px 100px 0 248px;
  position: relative;
}

/* === HOME PAGE RECEITAS MAIS ACESSADAS === */

.receitas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  text-align: left;
  margin-top: 20px;
}

.mais-acessadas{
  margin-top: 50px;
}

.receita{
  width: 100%;
  cursor: pointer;
}

.receita:hover{
  transform: scale(1.1);
  transition: transform 200ms linear;
}

.receita img{
  border-radius: 15px;
  width: 100%;
}

.receita__nome{
  margin-top: 20px;
  color:#111111
}

.receita__por{
  font-size: 16px;
  color: #777777;
  margin-top: 5px;
}

/* === FOOTER === */

footer{
  margin-top: 50px;
  padding: 23px;
  background: #EEEEEE;
  padding-bottom: auto;
}

footer p{
  color: #999999;
  text-align: center;
  font-size: 14px;
}

/* ===== PAGINA SOBRE ===== */

.sobre__textos h1{
  margin: 50px auto;
}

.sobre__textos p{
  margin-top: 20px;
  font-size: 18px;
  color: #444444;
  line-height: 28px;
}

/* === RECIPE INFORMATION PAGE ===  */
.wrapper-recipe ul{
  position: relative;
  left: 14px;
}

.wrapper-recipe ul, p{
  font-size: 18px;
  line-height: 28px;
}

.single__recipe{
  position: relative;
  display: grid;
  text-align: center;
  margin-bottom: 50px;
}

#recipeTitle{
  font-size: 36px;
  margin-top: 50px
}

#recipeBy{
  margin: 0;
}

.single__recipe img{
  border-radius: 15px;
  width: 100%;
  margin: auto;
}

.titleDisplay{
  display: grid;
  grid-template-columns: auto auto 1fr;
  align-items: baseline;
  gap: 8px;
}

.title {
  font-size: 24px;
  margin: 20px auto;
}

.btn{
  font-size: 12px;
  color: #999999;
  cursor: pointer; 
}

.block__ingredients{
  display: none;
  margin-left: 5px;
}

.block__preparation{
  display: none;
  margin-left: 5px;
}

.block__information{
  display: none;
  margin-left: 5px;
}

.pack{
  display: grid;
}



.hidden{
  display: none;
}


/* LAYOUT ADMIN */

.header-admin{
  background-color: #111111;
  margin: 0px;
}

.header-admin img{
  margin: 25px 230px;
}

/* ADMIN CREATE RECIPE */

.main-title{
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr auto;
}

.main-title h2{
  font-size: 24px;
  font-weight: bold;
}

.main-title button,
.top__info button{
  font-size: 16px;
  border-radius: 4px;
  background-color: #6558C3;
  color: #FFFFFF;
  font-weight: bold;
  cursor: pointer;
}

.main-title button{
  padding: 12px 28px;
}

.field{
  display: block;
  margin-top: 30px;
}

.field h3{
  font-size: 16px;
}

#add-ingredient,
#add-step{
  font-size: 16px;
  color: #6558C3;
  cursor: pointer;
  background-color: #FFFFFF;
  font-weight: bold;
  outline: none;
}

.field input,
.field textarea{
  width: 100%;
  outline: none;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 4px;
  font-size: 16px;
  padding: 10px;
}

.field textarea{
  resize: none;
}

/* ADMIN SHOW RECIPE */

.top__info{
  display: grid;
  grid-template-columns: 1fr auto;
  margin-top: 50px;
  margin-bottom: 25px;
}

.top__info button{
  padding: 8px 16px;
}

/* ADMIN EDIT RECIPE */

.edit__buttons{
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

.edit__buttons :first-child {
  padding: 8px 32px;
}

/* 
  BOTÃO DE EXLUIR
.edit__buttons :first-child {
  padding: 8px 32px;
  background-color: lightcoral;
}
 */
