@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

*{
    margin: 0;
    border: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}
/* === CENTRALIZANDO TODOS OS ELEMENTOS === */
.container{   
    margin: 0 230px;
    
}

header{
  margin: 0 230px;
  margin-bottom: 50px;
  margin-top: 38px;
  display: grid;
  grid-template-columns: auto 1fr;
}

header img{
  position: relative;

}

.links{
    margin-left: 120px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 30px
}

.links a{
  text-decoration: none;
  font-size: 16px;
  color: #111111;
}

.links :hover{
  font-weight: bold;
}

/* === CONTAINER COM AS MELHORES RECEITAS === */

.principal{
    background: #FBDFDB;
    height: 366px;
    border-radius: 30px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
}

.principal__content{
  width: 316px;
  margin: auto 60px;
}

.principal__content h1{
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
}

.principal__content h2{
    font-weight: normal;
    opacity: 0.7;
    font-size: 18px;
    line-height: 28px;
}

.principal img{
  padding: 66px 100px 0 248px;
  position: relative;
}

/* === HOME PAGE RECEITAS MAIS ACESSADAS === */

.receitas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  text-align: left;
  margin-top: 20px;
}

.mais-acessadas{
  margin-top: 50px;
}

.receita{
  width: 100%;
  cursor: pointer;
}

.receita:hover{
  transform: scale(1.1);
  transition: transform 200ms linear;
}

.receita img{
  border-radius: 15px;
  width: 100%;
}

.receita__nome{
  margin-top: 20px;
  color:#111111
}

.receita__por{
  font-size: 16px;
  color: #777777;
  margin-top: 5px;
}

/* === FOOTER === */

footer{
  margin-top: 50px;
  padding: 23px;
  background: #EEEEEE;
  padding-bottom: auto;
}

footer p{
  color: #999999;
  text-align: center;
  font-size: 14px;
}

/* ===== PAGINA SOBRE ===== */

.sobre__textos h1{
  margin: 50px auto;
}

.sobre__textos p{
  margin-top: 20px;
  font-size: 18px;
  color: #444444;
  line-height: 28px;
}

/* === RECIPE INFORMATION PAGE ===  */
.wrapper-recipe ul{
  position: relative;
  left: 14px;
}

.wrapper-recipe ul, p{
  font-size: 18px;
  color: #444444;
  line-height: 28px;
}

.single__recipe{
  position: relative;
  display: grid;
  text-align: center;
  margin-bottom: 50px;
}

#recipeTitle{
  font-size: 36px;
  margin-top: 50px
}

#recipeBy{
  margin: 0;
}

.single__recipe img{
  border-radius: 15px;
  width: 100%;
  margin: auto;
}

.titleDisplay{
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: baseline;
  gap: 8px;
}

.title {
  font-size: 24px;
  margin: 20px auto;
}

.btn{
  font-size: 12px;
  color: #999999;
  cursor: pointer; 
}

.block__ingredients{
  display: none;
  margin-left: 5px;
}

.block__preparation{
  display: none;
  margin-left: 5px;
}

.block__information{
  display: none;
  margin-left: 5px;
}

.pack{
  display: grid;
}



.hidden{
  display: none;
}


