{% extends "layoutAdm.njk" %}

{%block content %}
  <section class="container">

    <div class="top__info">
      <h2>Chef:
        {{chef.name}}</h2>
      <a href="{{chef.id}}/edit">
        <button>Editar Chef</button>
      </a>

    </div>

    <div class="chef-wrapper">
      <img src={{chef.image}} class="chef-image" alt="Imagem do chef">
      <h2 class="chef-name">{{chef.name}}</h2>
      <h2 class="chef-recipes">{{chef.total_recipes}} receitas</h2>

    </div>

    <h2 class="recipes-title">Receitas</h2>
    
    <div class="recipe-list">

    
      {% for recipe in recipes %}

        <div class="recipe-box">

          <div class="recipe-img">
            <img src="{{recipe.image}}" alt="Triplo bacon burger">
          </div>
          <div class="recipe-info">
            <h2>{{recipe.title}}</h2>
            <h2>{{chef.name}}</h2>
            <a href="/admin/recipes/{{chef.recipe_id}}">
              <button>Visualizar</button>
            </a>
          </div>
        </div>

      {% endfor %}
    </div>

  </section>

{% endblock %}