{% extends "layout.njk" %}

{%block content %}
  <section class="container">

    <div class="principal">
      <div class="principal__content">
        <h1>As melhores Receitas</h1>
        <h2>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro</h2>
      </div>
      <img src="/assets/chef.png" alt="">

    </div>

    <div class="mais-acessadas">
      <h1>Mais Acessadas</h1>
      <div class="receitas">

        <div class="receita">
          <img src="/assets/burger.png" alt="Triplo bacon burger">
          <h2 class="receita__nome">Triplo bacon burger</h2>
          <h2 class="receita__por">por Jorge Relato</h2>
        </div>

        <div class="receita">
          <img src="/assets/asinhas.png" alt="Asinhas de frango ao molho barbecue">
          <h2 class="receita__nome">Asinhas de frango ao barbecue</h2>
          <h2 class="receita__por">por Vania Steroski</h2>
        </div>

        <div class="receita">
          <img src="/assets/doce.png" alt="Docinhos pão-do-céu">
          <h2 class="receita__nome">Docinhos pão-do-céu</h2>
          <h2 class="receita__por">
            por Ricardo Golvea</h2>
        </div>

        <div class="receita">
          <img src="/assets/espaguete.png" alt="Espaguete ao alho">
          <h2 class="receita__nome">Espaguete ao alho</h2>
          <h2 class="receita__por">por Júlia Kinoto</h2>
        </div>

        <div class="receita">
          <img src="/assets/lasanha.png" alt="Lasanha mac n' cheese">
          <h2 class="receita__nome">Lasanha mac n' cheese</h2>
          <h2 class="receita__por">por Juliano Vieira</h2>
        </div>

        <div class="receita">
          <img src="/assets/pizza.png" alt="Pizza 4 estações">
          <h2 class="receita__nome">Pizza 4 estações</h2>
          <h2 class="receita__por">por Fabiana Melo</h2>
        </div>
      </div>
    </div>

  </section>
{% endblock %}