{% extends "layout.njk" %}

{%block content %}

  <section class="container">

    <div class="principal">
      <div class="principal__content">
        <h1>As melhores Receitas</h1>
        <h2>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro</h2>
      </div>
      <img src="/assets/chef.png" alt="">

    </div>

    <div class="mais-acessadas">
      <h1>Mais Acessadas</h1>
      <div class="receitas">

        {% for recipe in recipes %}

          <div class="receita">
            <img src="{{recipe.image}}" alt="Triplo bacon burger">
            <h2 class="receita__nome">{{recipe.title}}</h2>
            <h2 class="receita__por">por {{recipe.chef_name}}</h2>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="pagination"
      data-page={{pagination.page}}
      data-total={{pagination.total}}
      data-page={{filter}}
    ></div>

  </section>

{% endblock %}