{% extends "layout.njk" %}

{% block content %}

  <section class="container">


    <div class="recipe-list">
      {% for recipe in recipes %}

        <div class="recipe-box">
          <input type="hidden" name="id" value="{{recipe.id}}">

          <div class="recipe-img">
            <img src="{{recipe.image}}" alt="Triplo bacon burger">
          </div>
          <div class="recipe-info">
            <h2>{{recipe.title}}</h2>
            <h2>{{recipe.chef_name}}</h2>
            <a href="/recipes/{{recipe.id}}">
              <button>Visualizar</button>
            </a>
          </div>
        </div>

      {% endfor %}
    </div>
  </section>

{% endblock %}