{% extends "layout.njk" %}

{% block content %}

  <section class="container">

    </div>

    <div class="wrapper-recipe">
      <div class="single__recipe" id="{{recipes.title}}">
        <img src={{recipe.image}} id="recipeImg" alt="Imagem da receita">
        <h2 class="receita__nome" id="recipeTitle">{{recipe.title}}</h2>
        <h2 class="receita__por" id="recipeBy">{{recipe.chef_name}}</h2>

      </div>

      <div class="title__ingredients pack">
        <div class="titleDisplay">
          <h2 class="title">Ingredientes</h2>
          <h2 class="btn ingredients" id="btnIngredients" onclick="showInformation(blocoIngredientes, btnIngredients)">
            MOSTRAR</h2>
        </div>

        

        <div class="block__ingredients">
          <ul>
            {% for ingredient in recipe.ingredients %}
              <li>{{ingredient}}</li>
              {%endfor%}
            </ul>
          </div>
        </div>

        <div class="title__preparation pack">
          <div class="titleDisplay">
            <h2 class="title">Modo de preparo</h2>
            <h2 class="btn preparation" id="btnPreparation" onclick="showInformation(blocoPreparacao, btnPreparation)">
              MOSTRAR
            </h2>
          </div>
          <div class="block__preparation">
            <ul>
              {% for step in recipe.preparation %}
                <li>{{step}}</li>
                {%endfor%}
              </ul>

            </div>
          </div>

          <div class="title__information pack">
            <div class="titleDisplay">
              <h2 class="title">Informações adicionais</h2>
              <h2 class="btn information" id="btnInformation" onclick="showInformation(blocoInformacoes, btnInformation)">
                MOSTRAR
              </h2>
            </div>
            <div class="block__information">
              <p id="infoP">{{recipe.information}}</p>
            </div>
          </div>
        </div>

      </section>
    {% endblock %}